In [1]:
from dfs_tools_mlb.compile import teams
import pandas
from dfs_tools_mlb import settings
pandas.set_option("display.max_columns", None)

In [7]:
swap = False
t = teams.orioles
o = teams.red_sox
if not swap:
    teams.Team.team_notes(t, o, extend=True)
else:
    teams.Team.team_notes(o, t, extend=True)

Report for orioles vs. red sox:
              name  fd_wps_b_vr  fd_wps_b_vl  batters_faced_vl  pitches_start  \
7  Kutter Crawford     0.628514     0.403702             114.0      83.444444

   mlb_id
7  676710
{'avg_home_score': 6.0, 'avg_away_score': 4.75, 'avg_home_hits': 9.5, 'avg_away_hits': 7.5, 'sample_home': 6, 'sample_away': 4, 'avg_hits': 8.5, 'avg_score': 5.375, 'home_fd': 68.7, 'away_fd': 54.325, 'total_fd': 61.5125, 'pitcher': 'Kutter Crawford'}
                name  fd_wpa_pa_vr   pa_vr  fd_hr_weight_vr bat_side
0     Cedric Mullins      0.027957  1083.0         0.758756        L
1    Adley Rutschman     -0.100095   413.0         0.752847        L
2  Anthony Santander      0.284255   925.0         0.912370        L
3   Ryan Mountcastle      0.577000  1011.0         0.922629        R
4       Kyle Stowers      0.355651    14.0         0.682854        L
5        Austin Hays      0.401959   919.0         0.700828        R
6       Rougned Odor      0.674049   825.0         0.726840        L
7        Ramon Urias      0.414043   605.0         0.660764        R
8        Jorge Mateo      0.653491   663.0         0.502466        R
count    9.000000
mean     0.365368
std      0.265512
min     -0.100095
25%      0.284255
50%      0.401959
75%      0.577000
max      0.674049
Name: fd_wpa_pa_vr, dtype: float64
Crawford is R
              name  fd_wpa_b_vr  fd_wpa_b_vl  batters_faced_vl  pitches_start
7  Kutter Crawford     2.698267     4.224423             114.0      83.444444
                name  fd_wps_pa_vr  fd_wps_pa_vl   pa_vr  fd_hr_weight_vr  \
0     Cedric Mullins      2.925049      2.287009  1083.0         0.758756
1    Adley Rutschman      3.171909      1.809617   413.0         0.752847
2  Anthony Santander      2.610073      2.950738   925.0         0.912370
3   Ryan Mountcastle      2.599110      2.871225  1011.0         0.922629
4       Kyle Stowers      2.598112      2.181070    14.0         0.682854
5        Austin Hays      2.542980      2.750144   919.0         0.700828
6       Rougned Odor      2.284998      2.493934   825.0         0.726840
7        Ramon Urias      2.519211      2.492535   605.0         0.660764
8        Jorge Mateo      2.317581      2.395666   663.0         0.502466

  bat_side
0        L
1        L
2        L
3        R
4        L
5        R
6        L
7        R
8        R
count    9.000000
mean     2.618780
std      0.278036
min      2.284998
25%      2.519211
50%      2.598112
75%      2.610073
max      3.171909
Name: fd_wps_pa_vr, dtype: float64
red sox bp ovr:3.153124023270746
red sox bp vr:2.8300919389547645
red sox bp vl:3.530395441886082
1
Current lineup for orioles:
[656775, 668939, 623993, 663624, 669065, 669720, 596059, 602104, 622761]
RP used yesterday:
4    Austin Davis
Name: name, dtype: object
                name pitch_hand  fd_wpa_b_rp  games_22  batters_faced_rp  \
5       Ryan Brasier          R     3.802412      48.0             190.0
4       Austin Davis          L     3.977302      46.0             192.0
1     John Schreiber          R     2.628823      45.0             182.0
6  Hirokazu Sawamura          R     3.028137      44.0             192.0
8     Jeurys Familia          R     4.401263      38.0             158.0
3        Matt Strahm          L     3.120297      33.0             118.0
7        Matt Barnes          R     3.824251      26.0             103.0
2   Garrett Whitlock          R     2.074262      23.0              97.0

  status
5      A
4      A
1      A
6      A
8      A
3      A
7      A
2      A
                 name  mlb_id  fd_wps_pa_vr
0     Adley Rutschman  668939      3.171909
1   Robinson Chirinos  455139      2.020559
2    Ryan Mountcastle  663624      2.599110
3         Tyler Nevin  663527      1.662183
4        Rougned Odor  596059      2.284998
5        Terrin Vavra  679631      2.475709
6         Ramon Urias  602104      2.519211
7       Richie Martin  621006      1.557823
8         Ramon Urias  602104      2.519211
9         Tyler Nevin  663527      1.662183
10       Rougned Odor  596059      2.284998
11        Jorge Mateo  622761      2.317581
12        Ramon Urias  602104      2.519211
13      Richie Martin  621006      1.557823
14        Austin Hays  669720      2.542980
15       Ryan McKenna  663630      1.980643
16       Kyle Stowers  669065      1.450503
17       Terrin Vavra  679631      2.475709
18     Cedric Mullins  656775      2.925049
19        Austin Hays  669720      2.542980
20       Ryan McKenna  663630      1.980643
21       Kyle Stowers  669065      1.450503
22  Anthony Santander  623993      2.610073
23       Ryan McKenna  663630      1.980643
24       Kyle Stowers  669065      1.450503
25       Terrin Vavra  679631      2.475709
26       Terrin Vavra  679631      2.475709
27    Adley Rutschman  668939      3.171909
28   Ryan Mountcastle  663624      2.599110
29  Anthony Santander  623993      2.610073
                name  mlb_id
0     Cedric Mullins  656775
1    Adley Rutschman  668939
2  Anthony Santander  623993
3   Ryan Mountcastle  663624
4       Kyle Stowers  669065
5        Austin Hays  669720
6       Rougned Odor  596059
7        Ramon Urias  602104
8        Jorge Mateo  622761
Weather input:
{'condition': 'Overcast', 'temp': '86', 'wind': '11 mph, Out To LF'}

In [8]:
t.lineup_df()[["name", "points", "exp_ps_sp_pa", "sp_split","mlb_id", "team", "is_platoon",
                       "venue_points",  "total_pitches", "bat_side", "order", "pitches_pa_vr", "fd_wpa_pa_vr"]].describe()

,points,exp_ps_sp_pa,sp_split,mlb_id,venue_points,total_pitches,order,pitches_pa_vr,fd_wpa_pa_vr
count,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000
mean,14.649779,3.082456,2.618780,641448.888889,0.801427,4006.111111,5.000000,3.842187,0.365368
std,3.070915,0.477919,0.278036,30220.945350,0.117335,1899.235336,2.738613,0.188033,0.265512
min,11.743189,2.507924,2.284998,596059.000000,0.711901,54.000000,1.000000,3.565832,-0.100095
25%,12.314026,2.620624,2.519211,622761.000000,0.737596,3588.000000,3.000000,3.756364,0.284255
50%,14.120759,3.254710,2.598112,656775.000000,0.747730,4070.000000,5.000000,3.768236,0.401959
75%,15.264766,3.417248,2.610073,668939.000000,0.782415,5489.000000,7.000000,3.944865,0.577000
max,19.872309,3.698166,3.171909,669720.000000,1.018581,6162.000000,9.000000,4.217918,0.674049

In [9]:
t.lineup_df()[["name", "points", "exp_ps_sp_pa", "sp_split","mlb_id", "team", "is_platoon",
                       "venue_points",  "total_pitches", "bat_side", "order", "pitches_pa_vr", "fd_wpa_pa_vr"]]

,name,points,exp_ps_sp_pa,sp_split,mlb_id,team,is_platoon,venue_points,total_pitches,bat_side,order,pitches_pa_vr,fd_wpa_pa_vr
0,Cedric Mullins,19.348742,3.574736,2.925049,656775,orioles,NaN,0.991744,6162.0,L,1,3.768236,0.027957
1,Adley Rutschman,19.872309,3.698166,3.171909,668939,orioles,NaN,1.018581,2410.0,L,2,4.217918,-0.100095
2,Anthony Santander,15.264766,3.417248,2.610073,623993,orioles,NaN,0.782415,5489.0,L,3,3.944865,0.284255
3,Ryan Mountcastle,12.334201,2.648689,2.599110,663624,orioles,NaN,0.747730,5649.0,R,4,3.879327,0.577000
4,Kyle Stowers,14.682980,3.411268,2.598112,669065,orioles,NaN,0.752595,54.0,L,5,3.971983,0.355651
5,Austin Hays,12.314026,2.620624,2.542980,669720,orioles,NaN,0.746507,4938.0,R,6,3.565832,0.401959
6,Rougned Odor,14.120759,3.254710,2.284998,596059,orioles,NaN,0.723777,4070.0,L,7,3.756364,0.674049
7,Ramon Urias,12.167037,2.608739,2.519211,602104,orioles,NaN,0.737596,3588.0,R,8,3.707438,0.414043
8,Jorge Mateo,11.743189,2.507924,2.317581,622761,orioles,NaN,0.711901,3695.0,R,9,3.767722,0.653491

In [10]:
o.lineup_df()[["name", "points", "exp_ps_sp_pa", "sp_split","mlb_id", "team", "is_platoon",
                       "venue_points",  "total_pitches", "bat_side", "order", "pitches_pa_vr", "fd_wpa_pa_vr"]].describe()

,points,exp_ps_sp_pa,sp_split,mlb_id,venue_points,total_pitches,order,pitches_pa_vr,fd_wpa_pa_vr
count,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000
mean,14.170262,3.166286,2.544303,596836.666667,0.799296,4299.444444,5.000000,3.858330,0.293008
std,1.516293,0.327282,0.433202,50278.083943,0.103622,1892.035353,2.738613,0.240461,0.208513
min,12.162942,2.830906,2.057202,502054.000000,0.623427,1563.000000,1.000000,3.583102,-0.015894
25%,13.202856,2.944144,2.302247,571771.000000,0.742891,2174.000000,3.000000,3.652256,0.219552
50%,14.058285,3.097703,2.469378,608701.000000,0.800390,5321.000000,5.000000,3.817599,0.265178
75%,14.493659,3.329696,2.623579,624512.000000,0.847547,5783.000000,7.000000,3.945035,0.422296
max,16.535472,3.872742,3.555468,657077.000000,1.000403,6204.000000,9.000000,4.291866,0.575314

In [6]:
o.lineup_df()[["name", "points", "exp_ps_sp_pa", "sp_split","mlb_id", "team", "is_platoon",
                       "venue_points",  "total_pitches", "bat_side", "order", "pitches_pa_vr", "fd_wpa_pa_vr"]]

,name,points,exp_ps_sp_pa,sp_split,mlb_id,team,is_platoon,venue_points,total_pitches,bat_side,order,pitches_pa_vr,fd_wpa_pa_vr
0,Jake Fraley,19.475085,3.939584,3.105780,641584,reds,NaN,0.406534,2010.0,L,1,4.366569,0.115053
1,Jonathan India,12.688205,3.182462,2.848995,663697,reds,NaN,-0.936112,4668.0,R,2,4.091130,0.390963
2,Kyle Farmer,11.544248,2.859757,2.203584,571657,reds,NaN,-0.851713,4917.0,R,3,3.631524,0.357838
3,Mike Moustakas,13.761353,3.581671,2.389953,519058,reds,NaN,0.287262,2970.0,L,4,4.138112,0.612383
4,Nick Senzel,10.932861,2.776440,2.036950,669222,reds,NaN,-0.806606,2637.0,R,5,3.521739,0.409311
5,Albert Almora Jr.,10.944739,2.754012,1.992094,546991,reds,NaN,-0.807482,1835.0,R,6,3.567251,0.693157
6,TJ Friedl,12.953681,3.352931,1.932473,670770,reds,NaN,0.270402,953.0,L,7,3.874439,0.449121
7,Jose Barrero,10.401919,2.552054,1.588178,676480,reds,NaN,-0.767434,509.0,R,8,3.380000,1.494996
8,Michael Papierski,12.056406,3.169829,1.566268,657709,reds,NaN,0.251672,780.0,L,9,4.084507,1.066501